@use "./base.scss";

body {
    background-image: url("./../static/wisteria-tree-light.png");
    background-size: cover;
    background-attachment:fixed;
}

:root[saved-theme="dark"] {
    body {
        background-image: url("./../static/wisteria-tree-dark.png");
    }
}